@use './media';

.app-actions{
  width: 356px;
  max-height: 22px;
  display: flex;
  justify-content: space-between;
  &>span{
    font-size: 16px;
    font-weight: 600;
    color: var(--pr-black)
  }
}

#app-actions__btn{
  font-size: 16px;
  font-weight: 600;
  color: var(--pr-black);
  background-color: transparent;
  border: none;
  line-height: 140%;
  transition: var(--transition);
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--pr-black);
    transition: var(--transition);
  }
}